.bookmarks-icon-container {
  opacity: 1;
}

.bookmarks-icon {
  opacity: 1;
}

.widget-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}
